.product{
 display: flex;
 justify-content: space-between;
 align-items: center;

 border: 1px solid gray;
 padding: 1rem;
 border-radius: 10px;
 gap:5px;
 margin-top: 1rem;
 
}
.name{
    width: 70%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .9rem;
}
.price, .time, .info{
    width: 10%;
    font-size: .7rem;
}

