.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: rgba(55,93,165,.05);
}


.modalBackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    transition: .3s;
}

.modalContainer{
    width: 600px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-image: linear-gradient(to bottom right, #375da5, #33c2d4);
    border-radius: 5px;
    box-shadow:0 0 3px 3px rgba(0, 0, 0, .05);
}
.modalContent{
    position: relative;
    padding-top: 50px;
}

.modalContent .cerrar{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.abrir{
    border-radius: 30px;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
    
    
}
.abrir:hover{
    transform: translatey(-2px);
}
.info, .name, .tube, .method{
    text-transform: uppercase;
}